@model MonitorVisualInput

<div class="row">
    <div class="col-lg-4 col-md-6 col-xl-3 col-12 ">
        <div class="card">
            <h1 class="card-header">Resumen</h1>
            <div class="card-body form-inline">
                
                <div class="col-1">
                    <i class="fas fa-circle fa-x2 text-success"></i>  
                </div>
                <div class="col-3">
                    @Model.MonitoresVisual.Where(w => w.MonitorEstado).Count()
                </div>
                <div class="col-1">
                    <i class="fas fa-circle fa-x2 text-danger"></i>
                </div>
                <div class="col-3">
                    @Model.MonitoresVisual.Where(w => !w.MonitorEstado).Count()
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="row">
    
@foreach (Agrupacion ag in Model.Agrupaciones)
{
    <div class="col-lg-6">
        <div class="card">
            <h1 class="card-header ">@ag.Nombre</h1>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (MonitorVisualInput.MonitoresEstado mn in Model.MonitoresVisual.Where(w => w.Agrupacion.Equals(ag.AgrupacionID)).OrderBy(o => o.MonitorNom).OrderBy(o => o.MonitorEstado))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center monitoresLi" data-alarma="@mn.Alarma"
                        data-estado="@mn.MonitorEstado" data-id="@mn.MonitorID" data-nom="@mn.MonitorNom" onclick="DetalleMonitor(this)">

                            @mn.MonitorNom

                            @if (mn.MonitorEstado)
                            {
                                <i class="fas fa-circle fa-2x text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-circle fa-2x text-danger"></i>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
</div>