@model MonitorVisualInput

<div class="row">
@foreach (Agrupacion ag in Model.Agrupaciones)
{
    <div class="col-md-6">
        <div class="card">
            <h1 class="card-header ">@ag.Nombre</h1>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (MonitorVisualInput.MonitoresEstado mn in Model.MonitoresVisual.Where(w => w.Agrupacion.Equals(ag.AgrupacionID)))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center monitoresLi" data-alarma="@mn.Alarma"
                        data-estado="@mn.MonitorEstado" data-id="@mn.MonitorID" data-nom="@mn.MonitorNom" onclick="DetalleMonitor(this)">

                            @mn.MonitorNom

                            @if (mn.MonitorEstado)
                            {
                                <i class="fas fa-circle fa-2x text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-circle fa-2x text-danger"></i>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
</div>