@model MonitorVisualInput

@{
    ViewData["Title"] = "MonitoreoVisual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-content container-fluid">
    <div class="row">
        @foreach (Agrupacion ag in Model.Agrupaciones)
        {
            <div class="col-md-6">

                <div class="card ">
                    <h1 class="card-header ">@ag.Nombre</h1>
                    <div class="card-body">
                        <ul class="list-group">
                            @foreach (MonitorVisualInput.MonitoresEstado mn in Model.MonitoresVisual.Where(w => w.Agrupacion.Equals(ag.AgrupacionID)))
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center monitores" data-alarma="@mn.Alarma" data-estado="@mn.MonitorEstado" data-nom="@mn.MonitorNom">
                                    @mn.MonitorNom
                                    @if (mn.MonitorEstado)
                                    {
                                        <i class="fas fa-circle fa-2x text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-circle fa-2x text-danger"></i>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        }

    </div>

</section>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            if (Notification) {
                if (Notification.permission !== "granted") {
                    Notification.requestPermission()
                }
            }

            let i = 0;

            $.each($(".monitores"), function () {

                if ($(this).data('estado') != "True" && $(this).data('alarma') == "True") {
                    i++;
                }
            });

            if (i > 0) {
                Alarma(i);
            }
        });

        function Alarma(cant) {

            if (Notification) {

                var title = "Sistema Monitoreo Apeseg"
                var extra = {
                    icon: "../img/web-analytics.png",
                    body: "Se encuentran " + cant + " casos en alerta"
                }
                var noti = new Notification(title, extra)
                noti.onclick = {
                    // Al hacer click
                }
                noti.onclose = {
                    // Al cerrar
                }

                setTimeout(function () { noti.close() }, 10000);
            }
        }


    </script>

}